@model IEnumerable<MasjidManagementSystem.Models.PrayerSchedule>

@{
	ViewData["Tile"] = "Index-PrayerTime";
}

<h1>Prayer Schedule Index</h1>
<p>
	<a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="scope">Id</th>
			<th class="scope">StartTime</th>
			<th class="scope">EndTime</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.StartTime</td>
				<td>@item.EndTime</td>

				<td>
					<a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
			
		}
	</tbody>
</table>