@model IEnumerable<MasjidManagementSystem.Models.Imam>

@{
	ViewData["Title"] = "Index-Imam";
}

<h1>Imam Index</h1>
<p>
	<a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Hire Date</th>
			<th scope="col">Qualification</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.HireDate</td>
				<td>@item.Qualification</td>

				<td>
					<a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}

	</tbody>


</table>