@model IEnumerable<LibraryManagement.Models.Staff>

@{
	ViewData["Title"] = "Index";
}

<h1>Staf Index</h1>
<p>
	<a asp-action="Create">Create New</a>
</p>


<table class="table">

	<thead>
		<tr>
			<th>Name</th>
			<th>StaffID</th>
			<th>Position</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.StaffId</td>
				<td>@item.Position</td>

				<td>
					<a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>

			</tr>
		}
	</tbody>

</table>